
.light-bold{
    font-weight: 550;
}

#bg-quizz{
    height: calc(100% - 56px);
    width: 100%;
    position: absolute;
    background: url("../src/img/bg-quizz.jpg");
    background-size: cover;
    z-index: -20;
}

#card-container{
    position: relative;
}

.card-quizz{
    position: absolute;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #777777;
    top: 15vh;
}

.card-text-header{
    font-size: 1.2em;
    font-weight: 550;
    width: 100%;
}

.timer{
    position: absolute;
    right: 25px;
}

.card-text-footer{
    font-style: italic;
}

.global-ratio-container{
    display: flex;
}

.ratio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    width: 25px;
    height: 25px;
    margin-right: 25px;
    background: #D59B97; /* fallback color if gradients are not supported*/ 
    background: -webkit-linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    background: -moz-linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    background: -o-linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    background: linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 2px grey;
}

.validate-container{
    width: 100%;
}

.btn-validate{
    width: 40px;
    height: 40px;
    background: #D59B97; /* fallback color if gradients are not supported*/ 
    background: -webkit-linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    background: -moz-linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    background: -o-linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    background: linear-gradient(180deg,#D59B97, #AAB5BB 100%);
    color: rgb(108, 238, 56);
    border: 1px solid rgb(109, 192, 77);
    border-radius: 50%;
}

.btn-validate:focus, .btn-validate:active{
    outline: none;
}

.slide-left{
    animation: slide-left forwards 1.5s;
}

@keyframes slide-left {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        transform: translateX(-200%);
        display: none;
    }
}

.slide-right{
    animation: slide-right forwards 1.5s;
}

@keyframes slide-right {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        transform: translateX(+200%);
        display: none;
    }
}

.is-not-visible{
    visibility: hidden;
}



/* PAGE RESULTAT QUIZZ . PHP */

#resultat_quizz_div_score, #resultat_quizz_score{
    display: flex;
    align-items: center;
    justify-content: center;
}

#resultat_quizz_score{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid green;
    padding: 0 10px;
}

#resultat_quizz_score div{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    width: 100%;
}

.resultat-bg-vert{
    border-left: 10px solid #fd322b;
}

.resultat-bg-rouge{
    border-left: 10px solid #47b167;
}

.input-group-text-default-size{
    min-width: 150px;
}

.input-success{
    background-color: #b8ffce;
}

.radius{
    border-radius: 50rem;
}

.radius-md{
    border-radius: 12px;
}

.policies{
    font-family: "gt-walsheim", arial, helvetica, sans-serif;
    color: #7e7e7e;
}

.spe input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}
  
.spe input:focus {
    outline: none;
    border-bottom: 1px solid #4285f4;;
}
  
.spe label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.spe input:focus ~ label, .spe input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #4285f4;
    content: "Réessayez";
}
  
.spe .highlight {
    position: absolute;
    height: 60%;
    width: 300px;
    pointer-events: none;
    opacity: 0.5;
}
  
.spe input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
  
@-webkit-keyframes inputHighlighter {
    from { background: #4285f4; }
    to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: #4285f4; }
    to   { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
    from { background: #4285f4; }
    to   { width: 0; background: transparent; }
}

.spe .inputError {
    border-bottom: 1px solid red
}

.spe .labelError {
    color: red;
    content: "Réessayez";
}

.spe .highlightErr {
    position: absolute;
    height: 60%;
    width: 300px;
    pointer-events: none;
    opacity: 0.5;
}
  
.spe input:focus ~ .highlightErr {
    -webkit-animation: inputHighlighterErr 0.3s ease;
    -moz-animation: inputHighlighterErr 0.3s ease;
    animation: inputHighlighterErr 0.3s ease;
}
  
@-webkit-keyframes inputHighlighterErr {
    from { background: red; }
    to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighterErr {
    from { background: red; }
    to   { width: 0; background: transparent; }
}
@keyframes inputHighlighterErr {
    from { background: red; }
    to   { width: 0; background: transparent; }
}

.carousel{
    width: 500px;
    height: 300px;
}

.dropdown-menu{
    position: absolute;
}

.over{
    width: 150px;
}

.over:hover{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%)
}

.over:active, .over:focus{
    background-color: #609dff;
}

.recherche-barr{
	background-color: #7c828e;
    border-radius: 30rem;
}

.recherche-input{
	border: 0;
	width: 0;
    padding: 0;
	line-height: 37px;
    border-bottom: 4px solid #7c828e;
    border-bottom-left-radius: 15px;
    outline: none;
    transition: width 0.2s linear;
}

.recherche-barr:hover > .recherche-input{
	padding: 0 10px;
	width: 250px;
	transition: width 0.4s linear;
}

.notval {
	padding: 0 10px;
	width: 250px;
	transition: width 0.4s linear;
}

.recherche-icone:hover{
	color: white;
    text-decoration: none;
}

.recherche-icone{
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
    background-color: #7c828e;
    border: none;
    cursor: pointer;
}

.container_intro {
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0px 7px 17px 10px rgb(0 0 0 / 6%);
    padding-top: 40px;
    width: 900px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
}

.col_quiz_intro {
    padding: 15px 40px;
    margin: 0 0 40px;
}

.sep-md {
    border-right: 2px #ededed solid;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.quiz_img {
    width: 100%;
}

.lienAffichageQuizz{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.card-affichage-quizz{
    width: 250px;

}

.return {
    flex : 0 !important
}

.grey {
    background-color: #e2e3e5;
}

#bg-score {
    width: 100%;
    height: calc(100vh - 56.6px);
    background: url("../src/img/score2.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.card-header-score{
    background-color: #adbedf;
    font-size: 1.2em;
    font-weight: 550;
}

#container-score{
    max-height: 90vh;
    overflow: scroll;
    border: 1px solid white;
    box-shadow: 2px 2px 10px white;
}

#container-score::-webkit-scrollbar {
    display: none;
  }

.card-score{
    max-height: 30rem;
    min-height: 30rem;
    border: 2px solid #adbedf;
    box-shadow: 2px 2px 5px #adbedf;
}

.scores-php {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 550;
}

.table-score, .table-score td{
    border: 0;
    border-collapse: collapse;
}

.inf, .sup, .egal {
    font-size: 1.2em;
    font-weight: bold;
}
.inf{
    color: rgb(168, 0, 0);
}
.sup{
    color: green;
}
.egal{
    color: rgb(83, 83, 83);
}

#bg-ami {
    width: 100%;
    height: calc(100vh - 56.6px);
    background: url("../src/img/friend.jpg");
    background-attachment: fixed;
    background-position: 40% 50%;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.rouge{
    color: red;
    font-size: 1.5em;
}

.btn-ami{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa73197c;
}

#container-ami{
    max-height: 90vh;
    overflow: scroll;
    border: 1px solid white;
    box-shadow: 2px 2px 10px white;
    background-color: #6464645b;
}

#container-ami::-webkit-scrollbar {
    display: none;
  }

.card-ami{
    border-radius: 20px;
    border: 2px solid #adbedf;
    box-shadow: 2px 2px 5px #adbedf;
}

.card-ami .card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4e411;
    border-radius: 20px;
}

.avatar{
    height: 60px;
    width: 60px;
    border: 1px solid black;
}
.avatar, .avatar img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.inputCheckAmi{
    position: absolute;
    left: -9999px;
}

.inputCheckAmi + label {
    display: block;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: #aaaaaa;
    box-shadow: 2px 2px 4px grey inset;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}

.inputCheckAmi + label:after{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: radial-gradient(#027525, #47b167 50%);
    z-index: 1;
}

.inputCheckAmi:checked + label:after {
    transform: translateX(20px);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    background: radial-gradient(#700000, #df3b3b 50%);
}

.inputCheckAmi + label:after {
    transform: translateX(0px);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    background: radial-gradient(#027525, #47b167 50%);
}

.modal-content{
    min-height: 30rem;
    background: url("../src/img/addFriend.png");
    background-size: cover;
    background-position: 50% 0%;
}

.modal-content input {
    height: 5rem;
    border-radius: 45%;
    box-shadow: inset 2px 2px 5px grey;
    text-align: center;
}
.modal-content input:focus, .modal-content input:active{
    outline: none;
}

.icon{
    position: relative;
    top: -1rem;
    color: rgb(80, 80, 80);
}