.radius{
    border-radius: 50rem;
}

.spe input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}
  
.spe input:focus {
    outline: none;
    border-bottom: 1px solid #4285f4;;
}
  
.spe label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.spe input:focus ~ label, .spe input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #4285f4;
    content: "Réessayez";
}
  
.spe .highlight {
    position: absolute;
    height: 60%;
    width: 300px;
    pointer-events: none;
    opacity: 0.5;
}
  
.spe input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
  
@-webkit-keyframes inputHighlighter {
    from { background: #4285f4; }
    to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: #4285f4; }
    to   { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
    from { background: #4285f4; }
    to   { width: 0; background: transparent; }
}

.spe .inputError {
    border-bottom: 1px solid red
}

.spe .labelError {
    color: red;
    content: "Réessayez";
}

.spe .highlightErr {
    position: absolute;
    height: 60%;
    width: 300px;
    pointer-events: none;
    opacity: 0.5;
}
  
.spe input:focus ~ .highlightErr {
    -webkit-animation: inputHighlighterErr 0.3s ease;
    -moz-animation: inputHighlighterErr 0.3s ease;
    animation: inputHighlighterErr 0.3s ease;
}
  
@-webkit-keyframes inputHighlighterErr {
    from { background: red; }
    to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighterErr {
    from { background: red; }
    to   { width: 0; background: transparent; }
}
@keyframes inputHighlighterErr {
    from { background: red; }
    to   { width: 0; background: transparent; }
}

.carousel{
    width: 500px;
    height: 300px;
}